#Each branch will have its own version of README.md, so we want to keep the current branch's version during merges.
#run "git config --global merge.ours.driver true" to set up the "ours" merge driver.
README.md merge=ours